@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);







.navbar-collapse{
  background-color: #000;
}
.navbar-default {
  background-color: #000;
  border-color: #a7a2a1;
}
.navbar-default .navbar-brand {
  color: #f9f9f9;
  background-color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #615050;
}
.navbar-default .navbar-text {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f9f9f9;
  background-color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #615050;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #615050;
  background-color: #a7a2a1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #a7a2a1;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #615050;
  background-color: #a7a2a1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #615050;
  background-color: #a7a2a1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #615050;
  background-color: #a7a2a1;
}
.navbar-default .navbar-toggle {
  border-color: #a7a2a1;
  background-color: #000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a7a2a1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f9f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f9f9f9;
}
.navbar-default .navbar-link {
  color: #f9f9f9;
}
.navbar-default .navbar-link:hover {
  color: #615050;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #615050;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #615050;
    background-color: #a7a2a1;
  }
}

#headerwrap {
	background: url(../Access/img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}



#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

body {
    background-color: darkgrey;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Ribeye Marrow', cursive;
    font-weight: 400;
    font-size: 16px;
    

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}



/* 
 #social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}
*/ 

#picme {
  margin-top: 10px;
  margin-right: 8px;
	padding-top: 10px;
	float: left;
	position: relative;
	width: 350px;
  height: 350px;
  margin-bottom: 100px;
  
}


